<head>
    <style>
        h1 {
            background-color: #0099ff;
            padding: 30px;
        }
    </style>
</head>
<h1 style="color:white">Mysite:Text Editor
    <h2>Welcome here!</h2><br />
</h1>
<p>
    <div style="color: #0099ff;">Text Editor</div>
    <div style="color:#F00">[constructing]</div>
</p>
<form action="/polls" method="POST">
    First name:<br>
    <input type="text" name="firstname" value="Firstname">
    <br> Last name:<br>
    <input type="text" name="lastname" value="Lastname">
    <br><br>
    <input type="submit" value="Submit">
</form>